.logo {
  width: auto;
  height: 40px;
  padding: 5px;
}
.header {
  width: 100%;
  // background: transparent
  //   linear-gradient(90deg, white 5%, #1c88ad 49%, #d5dbea 100%) 0% 0% no-repeat
  //   padding-box;
  margin-bottom: 15px;
  background-color: #1c88ad;
  
}

.spacer {
  flex: 1 1 auto;
}

.auth-header {
  position: fixed;
  padding: 5px 10px;
  height: 30px;
  color: #ffffff;
  display: flex;
  width: 100%;
  align-items: center;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.card-header-progress {
  position: absolute;
  top: 0;
  left: 0;
}
